<h1>Les évènements</h1>

<div layout="row" layout-wrap>
    <section data-ng-include="'/modules/school/views/_event.client.view.html'" flex="33"></section>
    <section data-ng-include="'/modules/school/views/_event.client.view.html'" flex="33"></section>
    <section data-ng-include="'/modules/school/views/_event.client.view.html'" flex="33"></section>
    <section data-ng-include="'/modules/school/views/_event.client.view.html'" flex="33"></section>
    <section data-ng-include="'/modules/school/views/_event.client.view.html'" flex="33"></section>
</div>